<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Multiple Files</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container h-100">
    <div class="h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-5">
                <h3>Upload Multiple Files to MySQL</h3>
                <form enctype="multipart/form-data" id="fileUploadForm" method="POST">
                    <div class="form-group">
                        <label class="control-label" for="files">Upload Multiple Files:</label>
                        <input class="form-control" id="files" multiple
                               name="files" placeholder="Upload Multiple Files" type="file"></input>
                    </div>
                    <button class="btn btn-default" id="btnSubmit" type="submit">Upload</button>
                    <a class="btn btn-default" href="/files" role="button">Files</a>
                </form>
                <div th:if="${message}">
                    <strong><span th:text="${message}"/></strong>
                    <hr>
                </div>
                <ul th:each="filename: ${files}">
                    <li><span th:text="${filename}"/></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>